<section class="section background">
    <div class="section__title">Scholarship<br/>Achievement</div>
    <div class="section__content">
        &nbsp&nbsp<p>
            Secured 
      <a class="underline-link">3rd position</a> in <a class="underline-link">Himortkarsh Scholarship Exam 2014</a> among 3k student in chamba district (HP).<br/><br/>
        Lead a team which organize programming contest in university with 
        <a class="underline-link">over 150+ participants</a> among 2 campus of university.<br /><br/>
        Working as a team member at <a class="underlink-link"><a href="https://www.abhidheya.org/">Abhidheya Foundation (NGO)</a></a> from last one year and also organize career counselling in different goverment schools.


        </p>
  <!-- {% include employment-status.html %} -->
    </div>
  </section>
  