<section class="section background">
    <div class="section__title">Achievement</div>
    <div class="section__content">
        <p>
            Developed a
      <a class="underline-link">travel agency platform</a> that result in increase of <a class="underline-link">150+</a> new customer.<br/>
        Won 3rd prize in 
        <a class="underline-link">blogging competition</a> held at graphic era university with cash prize of RS 1000 .

        </p>
  <!-- {% include employment-status.html %} -->
    </div>
  </section>
  